###########################
# OmniROM Telusgalaxys4gmtd sepolicy
#
type agpsd, domain;
type agpsd_exec, exec_type, file_type;
type agpsd_data_file, file_type, data_file_type;

init_daemon_domain(agpsd)

type_transition agpsd system_data_file:file agpsd_data_file;

allow agpsd agpsd_data_file:file { read write create open getattr };
allow agpsd cg2900_device:chr_file { read write getattr open ioctl };
allow agpsd fwmarkd_socket:sock_file write;
allow agpsd netd:unix_stream_socket connectto;
allow agpsd node:tcp_socket node_bind;
allow agpsd port:tcp_socket { name_bind name_connect };
allow agpsd self:tcp_socket { setopt read bind create listen connect write getopt accept getattr };
allow agpsd sysfs_wake_lock:file { read write open };
allow agpsd system_data_file:dir { write add_name };
allow agpsd system_file:file execmod;
