###########################
# OmniROM Telusgalaxys4gmtd sepolicy
#
type agpsd, domain;
type agpsd_exec, exec_type, file_type;
type agpsd_data_file, file_type, data_file_type;

init_daemon_domain(agpsd)

allow agpsd system_file:file { execmod };
allow agpsd self:tcp_socket { create setopt bind listen connect accept getopt read write };

allow agpsd port:tcp_socket { name_bind name_connect };
allow agpsd node:tcp_socket { node_bind };

allow agpsd gps_data_file:file { read write open getattr };

allow agpsd fwmarkd_socket:sock_file { write };

allow agpsd netd:unix_stream_socket { connectto };

type_transition agpsd system_data_file:file agpsd_data_file;

allow agpsd system_data_file:dir { write add_name };

allow agpsd agpsd_data_file:file { create read write open getattr };

allow agpsd cg2900_device:chr_file { read write getattr open ioctl };
allow agpsd sysfs_wake_lock:file { read write open };
