###########################
# OmniROM galaxys4gmtd sepolicy
#
type gps_init, domain;
type gps_init_exec, exec_type, file_type;

type gps_prop, property_type;

init_daemon_domain(gps_init)

# Both
allow gps_init proc:file { open read };
allow gps_init rootfs:file { open read };
allow gps_init shell_exec:file getattr;
allow gps_init toolbox_exec:file { execute execute_no_trans getattr open read };

# T959P
allow gps_init cg2900_device:chr_file { getattr setattr };
allow gps_init ctl_default_prop:property_service set;
allow gps_init gps_device:chr_file { getattr setattr };
allow gps_init gps_prop:property_service { set };
allow gps_init init:unix_stream_socket connectto;
allow gps_init property_socket:sock_file write;
allow gps_init rootfs:file entrypoint;
allow gps_init self:capability { fowner chown fsetid };
allow gps_init shell_exec:file read;
allow gps_init system_file:file execute_no_trans;

# T959V
allow gps_init gpsd-shim_exec:file { read getattr open execute execute_no_trans };
allow gps_init gpsd-shim:process { siginh rlimitinh transition noatsecure };
allow gps_init self:process setexec;
