###########################
# OmniROM galaxys4gmtd sepolicy
#

allow gpsd gpsd_exec:file { execute_no_trans };
#allow gpsd system_data_file:file { create open write setattr getattr append };
allow gpsd system_data_file:dir { add_name write };
#allow gpsd self:capability { dac_override net_raw };
