###########################
# OmniROM galaxys4gmtd sepolicy
#
allow netd gpsd:fd use;
allow netd gpsd:tcp_socket { read write setopt getopt };
allow netd gpsd-shim:fd use;
allow netd gpsd-shim:tcp_socket { read write setopt getopt };
