###########################
# OmniROM Telusgalaxys4gmtd sepolicy
#
allow netd agpsd:fd use;
allow netd agpsd:tcp_socket { read write setopt getopt };
