on init
    loglevel 8

on fs
# We chown/chmod /efs because mount is run as root + defaults
    mkdir /efs 0775 radio radio
    chown radio radio /efs
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mkdir /radio 0775 radio radio
    mount yaffs2 mtd@radio /radio
    chmod 0775 /radio
    chmod 0775 /radio/modem.bin
    chown radio radio /radio
    chown radio radio /radio/modem.bin
    mount yaffs2 mtd@efs /efs
    mount yaffs2 mtd@system /system
    mount yaffs2 mtd@userdata /data
    mount yaffs2 mtd@cache /cache
    chmod 770 /efs/bluetooth
    chmod 770 /efs/imei

on post-fs
    # make symlinks for compatibility
    symlink /system/vendor /vendor
    symlink /system/etc /etc
    symlink /system/lib /lib
    
    # things like immvibed need TMPDIR
    export TMPDIR=/data/local/tmp

    # permissions for MTP device node_temporary permission_will be changed 0660
    chmod 0660 /dev/usb_mtp_gadget
    chown system system /dev/usb_mtp_gadget

    mkdir 0777 /data/property
    # create data/gps for GPS daemon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 660 /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 0777 /system/vendor/bin/gpsd
    chown gps gps /sys/class/sec/gps/GPS_nRST/value
    chmod 664 /sys/class/sec/gps/GPS_nRST/value
# not sure if these are needed or not, but it cant hurt...
    chown gps gps /data/CGPS_LOG.txt
    chmod 0770 /data/CGPS_LOG.txt
    chown gps gps /data/EVENT_LOG.txt
    chmod 0770 /data/EVENT_LOG.txt
    chown gps gps /data/GNB_DEBUG.txt
    chmod 0770 /data/GNB_DEBUG.txt
    chown gps gps /data/GPS_NV_Data.bin
    chmod 0770 /data/GPS_NV_Data.bin
    chown gps gps /data/GPS_UTC_Calib.bin
    chmod 0770 /data/GPS_UTC_Calib.bin
    chown gps gps /data/HALGPS_conf.cfg
    chmod 0770 /data/HALGPS_conf.cfg
    chown gps gps /data/NAV_DEBUG.txt
    chmod 0770 /data/NAV_DEBUG.txt
    chown gps gps /data/NMEA_DEBUG.txt
    chmod 0770 /data/NMEA_DEBUG.txt

    symlink /datadata /data/data

    symlink /radio/modem.bin /dev/block/bml12

    mkdir /var 777 system system
    mkdir /var/log 777 system system
    mkdir /var/run 777 system system

    # for sensor control
    chown system input /sys/class/input/input0/enable
    chown system input /sys/class/input/input0/delay
    chown system input /sys/class/input/input0/wake
    chown system input /sys/class/input/input0/data

    chown system input /sys/class/input/input1/enable
    chown system input /sys/class/input/input1/delay
    chown system input /sys/class/input/input1/wake
    chown system input /sys/class/input/input1/threshold
    chown system input /sys/class/input/input1/distortion
    chown system input /sys/class/input/input1/shape
    chown system input /sys/class/input/input1/offsets
    chown system input /sys/class/input/input1/filter_enable
    chown system input /sys/class/input/input1/filter_len
    chown system input /sys/class/input/input1/data
    chown system input /sys/class/input/input1/status
    chown system input /sys/class/input/input1/position

    chown system input /sys/class/input/input2/enable
    chown system input /sys/class/input/input2/delay
    chown system input /sys/class/input/input2/wake

    chown system input /sys/class/input/input3/enable
    chown system input /sys/class/input/input3/delay
    chown system input /sys/class/input/input3/wake

    chown compass input /sys/class/input/input4/offsets

    chown system input /sys/class/input/input5/enable
    chown system input /sys/class/input/input5/delay
    chown system input /sys/class/input/input5/wake

    chown system input /sys/class/input/input6/enable
    chown system input /sys/class/input/input6/delay
    chown system input /sys/class/input/input6/wake

    chown system input /sys/class/input/input7/enable
    chown system input /sys/class/input/input7/delay
    chown system input /sys/class/input/input7/wake

    chown system input /sys/class/input/input8/enable
    chown system input /sys/class/input/input8/delay
    chown system input /sys/class/input/input8/wake

    chown system input /dev/i2c-1

    # Change permissions for modem.
    chown radio system /sys/class/modemctl/xmm/control
    chown radio system /sys/class/net/svnet0/waketime
    chown radio system /sys/class/net/svnet0/pdp/activate
    chown radio system /sys/class/net/svnet0/pdp/deactivate
    chown radio system /sys/class/net/svnet0/pdp/suspend
    chown radio system /sys/class/net/svnet0/pdp/resume

    chown root system /dev/s3c2410_serial1
    chmod 660 /dev/s3c2410_serial1
    mkdir /data/gps 771 system system
    chown system system /data/gps
    chown root system /sys/class/gpio/gpio121/value
    chmod 664 /sys/class/gpio/gpio121/value
    chown root system /sys/class/gpio/gpio120/value
    chmod 664 /sys/class/gpio/gpio120/value
    
    # load modules. They need to be loaded to set the permissions for the stuff
    # in 'on boot'
    insmod /system/lib/modules/ansi_cprng.ko


on boot
    
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    setprop ro.build.product herring
    setprop ro.product.device herring
    setprop ro.radio.noril yes

    # Tweak background writeout
    write /proc/sys/vm/dirty_writeback_centisecs 2000
    write /proc/sys/vm/dirty_expire_centisecs 1000
    write /proc/sys/vm/dirty_ratio 90

    # fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw 50
    setprop status.battery.level_scale 9

    # phone
    setprop ro.telephony.call_ring.multiple 0

    # to enable wifi
    setprop wifi.interface "eth0"
    #setprop wifi.driver.status "ok"

    #wifi permissions
    mkdir /data/wifi 0777 wifi wifi
    chown wifi system /data/misc/wifi
    chmod 0777 /data/misc/wifi/
    chmod 0777 /data/wifi/
    mkdir /data/misc/wifi/sockets 0770 wifi system
    chmod 0664 /system/etc/wifi/wpa_supplicant.conf
    chown wifi system /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcpcd 0771 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcpcd
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    # radio permissions
    mkdir /data/misc/radio 0771 radio radio

    # change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chown compass root /sys/class/input/input3/distortion
    chown compass root /sys/class/input/input3/offsets
    chown compass root /sys/class/input/input3/shape
    chown compass root /sys/class/input/input3/threshold
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

    #change permissions for USB
    chown radio system /sys/class/sec/switch/usb_sel
    chown radio system /sys/class/sec/switch/uart_sel
    chown radio system /sys/class/sec/switch/usb_state
    chown radio system /sys/class/sec/switch/disable_vbus
    chown radio system /sys/devices/platform/android_usb/tethering
    chown radio system /sys/devices/platform/android_usb/KiesStatus
    chown radio system /sys/devices/platform/android_usb/UsbMenuSel
    chown radio system /sys/devices/platform/android_usb/AskOnStatus
    chown radio system /sys/devices/platform/android_usb/AskOnMenuSel

    chown radio system /sys/devices/virtual/misc/melfas_touchkey/touch_sensitivity
    chown radio system /sys/devices/virtual/misc/melfas_touchkey/enable_disable
    chown radio system /sys/devices/virtual/misc/melfas_touchkey/brightness
    chown radio system /sys/devices/virtual/misc/melfas_touchkey/touch_update
    chown radio system /sys/devices/virtual/misc/melfas_touchkey/touch_version
    chown system system /sys/devices/virtual/misc/melfas_touchkey/brightness

    #change permissions for fuel gauge
    chown radio system /sys/class/sec/fg_atcom_test/set_fuel_gauage_read
    chown radio system /sys/class/sec/fg_atcom_test/set_fuel_gauage_reset

    #change permissions for battery
    chown radio system /sys/class/power_supply/battery/batt_vol
    chown radio system /sys/class/power_supply/battery/batt_vol_adc
    chown radio system /sys/class/power_supply/battery/batt_temp
    chown radio system /sys/class/power_supply/battery/batt_temp_adc
    chown radio system /sys/class/power_supply/battery/charging_source
    chown radio system /sys/class/power_supply/battery/fg_soc
    chown radio system /sys/class/power_supply/battery/reset_soc
    chown radio system /sys/class/power_supply/battery/charging_mode_booting
    chown radio system /sys/class/power_supply/battery/batt_temp_check
    chown radio system /sys/class/power_supply/battery/batt_full_check
    chown radio system /sys/class/power_supply/battery/batt_type
    chown radio system /sys/class/power_supply/battery/batt_use
    chown radio radio /sys/class/power_supply/battery/call
    chown radio radio /sys/class/power_supply/battery/video
    chown radio radio /sys/class/power_supply/battery/music
    chown radio radio /sys/class/power_supply/battery/browser
    chown radio radio /sys/class/power_supply/battery/hotspot
    chown radio radio /sys/class/power_supply/battery/camera
    chown radio radio /sys/class/power_supply/battery/data_call
    chown radio radio /sys/class/power_supply/battery/wimax

    #for jack control
    chown radio system /sys/class/jack/jack_selector/select_jack

    #change permissions for touch
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer0
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta0
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer1
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta1
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer2
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta2
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer3
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta3
    chown radio system /sys/class/sec/qt602240_noise_test/set_refer4
    chown radio system /sys/class/sec/qt602240_noise_test/set_delta4
    chown radio system /sys/class/sec/qt602240_noise_test/set_referminmax
    chown radio system /sys/class/sec/qt602240_noise_test/set_deltaminmax
    chown radio system /sys/class/sec/qt602240_noise_test/set_threshould
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_update
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_firm_version
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_firm_status
    chown radio system /sys/class/sec/qt602240_atcom_test/set_qt_firm_version_read
    chown radio system /sys/class/touch/switch/set_power
    chown radio system /sys/class/touch/switch/set_acquisition
    chown radio system /sys/class/touch/switch/set_touchscreen
    chown radio system /sys/class/touch/switch/set_keyarray
    chown radio system /sys/class/touch/switch/set_total
    chown radio system /sys/class/touch/switch/set_write
    chown radio system /sys/class/touch/switch/set_noise
    chown radio system /sys/class/touch/switch/set_grip
    chown radio system /sys/class/touch/qt_stylus/config_mode

    #change permissions for lcd
    chown radio system /sys/class/lcd/s5p_lcd/lcd_power
    chown radio radio /sys/class/gammaset/switch_gammaset/gammaset_file_cmd
    chown radio radio /sys/class/aclset/switch_aclset/aclset_file_cmd
    chown radio system /sys/class/sec/sec_lcd/lcdtype_file_cmd
    chown radio radio /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chown radio radio /sys/class/mdnieset_outdoor/switch_mdnieset_outdoor/mdnieset_outdoor_file_cmd

    chown radio system /sys/devices/platform/s3cfb/spi_gpio.3/spi3.0/backlight/s5p_bl/brightness
    chown radio system /sys/devices/platform/s3cfb/lcd_power

    #change permissions for touchkey
    chown system system /sys/class/sec/t_key/brightness
    chown system system /sys/class/sec/t_key/enable_disable

    chown radio system /sys/class/misc/level/control

    # Permissions for System Server and daemons.
    chown radio system /sys/power/dvfslock_ctrl
    chmod 0660 /sys/power/dvfslock_ctrl
    chown system system /sys/class/leds/red/trigger
    chown system system /sys/class/leds/blue/trigger
    chown system system /sys/class/leds/red/delay_on
    chown system system /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/blue/delay_on
    chown system system /sys/class/leds/blue/delay_off
    chown system system /sys/devices/platform/s3c-keypad/brightness
    chown system system /sys/devices/platform/s3c-keypad/key_pressed

    # +++++++++++++++++++++++++++++++++++++++++++
    # for Bluetooth
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto

    chown bluetooth bluetooth /dev/uinput
    chmod 0660 /dev/uinput

    chown bluetooth bluetooth /dev/s3c2410_serial0
    chmod 0660 /dev/s3c2410_serial0
    chmod 0770 /sys/class/rfkill/rfkill0/state
    chmod 0770 /sys/class/rfkill/rfkill1/state
    chmod 0770 /sys/class/rfkill/rfkill2/state
    chmod 0770 /sys/class/rfkill/rfkill3/state
    chmod 0770 /sys/class/rfkill/rfkill0/type
    chmod 0770 /sys/class/rfkill/rfkill1/type
    chmod 0770 /sys/class/rfkill/rfkill2/type
    chmod 0770 /sys/class/rfkill/rfkill3/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill2/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill3/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill2/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill3/type

    # allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    # +++++++++++++++++++++++++++++++++++++++++++
    # for datarouter
    chown system system /dev/ttyGS0
    chown system system /dev/dun
    # +++++++++++++++++++++++++++++++++++++++++++

    chown system system /sys/class/backlight/s5p_bl/brightness


# Samsung USB Mode : system properties are linked with sysfs
# write /sys/class/sec/switch/UsbMenuSel 0
on property:persist.service.usb.setting=0
    write /sys/devices/platform/android_usb/UsbMenuSel 0
on property:persist.service.usb.setting=1
    write /sys/devices/platform/android_usb/UsbMenuSel 1
on property:persist.service.usb.setting=2
    write /sys/devices/platform/android_usb/UsbMenuSel 2
on property:persist.service.usb.setting=3
    write /sys/devices/platform/android_usb/UsbMenuSel 3
on property:persist.service.usb.setting=4
    write /sys/devices/platform/android_usb/UsbMenuSel 4

service immvibed /system/bin/immvibed
    user shell
    group shell
    oneshot

service orientationd /system/vendor/bin/orientationd
    user compass
    group input

service geomagneticd /system/vendor/bin/geomagneticd
    user compass
    group system input

service gps-daemon /system/vendor/bin/gpsd -c /system/etc/gps.xml
    user gps
    group system inet

# 3D init
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -W -Dwext -ieth0 -c /data/misc/wifi/wpa_supplicant.conf
    socket wpa_eth0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    disabled
    oneshot

service bdaddr /system/bin/bdaddr_read
    user root
    disabled
    oneshot

on property:init.svc.bootanim=running
    start bdaddr

service hciattach /system/bin/logwrapper /system/bin/brcm_patchram_plus -d --enable_hci --enable_lpm \
    --baudrate 115200 --patchram /vendor/firmware/bcm4329.hcd /dev/s3c2410_serial0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    disabled
    oneshot
    keycodes 114 115 116

service tvout /system/bin/tvoutserver
    user system
    group graphics

service tvouthack /system/bin/tvouthack
    user system
    group graphics
    disabled
