#
# init rc file for GPS: this is here to allow for devices
# to provide their own GPS initialization code without
# conflicting with the default GPS init. (i.e. Vibrant, Galaxy S 4G)
#

on boot
    start gps_init

on post-fs

#   GPS_CHIPSET_STE_CG2900  
#   STE: Added for CG2900 Support	
#   +Scott.Re-setup permission right
    chown system system /dev/s3c2410_serial1
    chmod 0770 /dev/s3c2410_serial1
    chown system system /system/vendor/bin/ste-cg29xx_ctrl
    chmod 0770 /system/vendor/bin/ste-cg29xx_ctrl

on post-fs-data

#   create data/gps for GPS demon
    mkdir /data/gps 770 gps system
    chown gps system /data/gps
    chmod 770 /data/GPS_NV_Data.bin
    chmod 770 /data/GPS_UTC_Calib.bin
    chown radio system /sys/class/power_supply/battery/gps

service gps_init /system/bin/gps.sh
    user root
    oneshot
    disabled

# +STE UART Contol Application
service ste-cg29xx_ctrl /system/vendor/bin/ste-cg29xx_ctrl -b 115200 /dev/s3c2410_serial1
    class main
    user system
    group system misc 
    oneshot

# +STE GPS Daemon
#GPS_CHIPSET_STE_CG2900
service agpsd /system/vendor/bin/agpsd
    class core
    user gps
    group system inet
    oneshot
