#
# init rc file for GPS: this is here to allow for devices
# to provide their own GPS initialization code without
# conflicting with the default GPS init. (i.e. Vibrant)
#

# +STE UART Contol Application
service ste-cg29xx_ctrl /system/bin/hciattach -a 22 -n -s 115200 /dev/s3c2410_serial1 cg2900 115200 flow
     class main
     user system
     group system misc
     oneshot

# +STE GPS Daemon
# GPS_CHIPSET_STE_CG2900
service agpsd /system/vendor/bin/agpsd
     class core
     user gps
     group system inet
     oneshot

on post-fs-data
# Create /data/gps for GPS daemon
    mkdir /data/gps 770 gps system
    chown gps system /data/gps
