import init.aries.usb.rc

on init
    loglevel 9
    export EXTERNAL_STORAGE /storage/sdcard0

    # FIXME: Market checks this variable for space-checking, but downloads to /datadata
    export DOWNLOAD_CACHE /data/download

    mkdir /storage/sdcard0 0000 root root
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard

    # We will create our own ril-daemon service in class 'core' because the
    # rild doesn't like being killed. (During device encryption.)
    stop ril-daemon

    # Delay the RIL boot till bootanim has started.
    stop aries-ril-daemon

    # Disable address randomization
    write /proc/sys/kernel/randomize_va_space 0

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    setprop ro.build.product aries
    setprop ro.product.device aries
    setprop ro.radio.noril yes

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# phone
    setprop ro.telephony.call_ring.multiple 0

on fs
    mkdir /radio 0775 radio radio
    mount yaffs2 mtd@radio /radio
    mount yaffs2 mtd@userdata /data

    chown radio radio /radio/modem.bin

# We chown/chmod /efs because mount is run as root + defaults
    mkdir /efs 0775 radio radio
    mount yaffs2 /dev/block/mtdblock4 /efs
    chown radio radio /efs
    chmod 770 /efs/bluetooth
    chmod 770 /efs/imei

# permissions for bluetooth.
#    chown bluetooth net_bt_stack /dev/s3c2410_serial0
#    chmod 0600 /dev/s3c2410_serial0
#    chmod 0660 /sys/class/rfkill/rfkill0/state
#    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
#    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /dev/s3c2410_serial0
    chown bluetooth net_bt_stack /data/bdaddr
    chmod 0660 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/class/rfkill/rfkill2/state
    chmod 0660 /sys/class/rfkill/rfkill3/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill2/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill3/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill2/type
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill3/type
    restorecon /sys/class/rfkill/rfkill0/state
    restorecon /sys/class/rfkill/rfkill0/type
    restorecon /sys/class/rfkill/rfkill1/state
    restorecon /sys/class/rfkill/rfkill1/type
    restorecon /sys/class/rfkill/rfkill2/state
    restorecon /sys/class/rfkill/rfkill2/type
    restorecon /sys/class/rfkill/rfkill3/state
    restorecon /sys/class/rfkill/rfkill3/type

# Permissions for System Server and daemons.
    chown system system /sys/class/backlight/s5p_bl/brightness

# change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

# load wifi module
    insmod /system/lib/modules/bcmdhd.ko

on post-fs
    #symlinks for samsung RIL
    symlink /radio/modem.bin /dev/block/bml12

#not sure if needed, but will add anyway
    chown radio system /sys/class/power_supply/battery/gps

# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

# GPS_CHIPSET_STE_CG2900  
#STE: Added for CG2900 Support	
#+Scott.Re-setup permission right
      chown system system /dev/s3c2410_serial1
      chmod 0770 /dev/s3c2410_serial1
      chown system system /system/vendor/bin/ste-cg29xx_ctrl
      chmod 0770 /system/vendor/bin/ste-cg29xx_ctrl
      mkdir /data/gps 770 gps system
      chown gps system /data/gps
      chmod 770 /data/GPS_NV_Data.bin
      chmod 770 /data/GPS_UTC_Calib.bin
      chown system system /dev/cg2900_audio
      chmod 0770 /dev/cg2900_audio
	  chown system system /dev/cg2900_bt_audio
      chmod 0770 /dev/cg2900_bt_audio
      chown system system /dev/cg2900_core
      chmod 0770 /dev/cg2900_core	  
      chown system system /dev/cg2900_driver0
      chmod 0770 /dev/cg2900_driver0
	  chown system system /dev/cg2900_fm_audio
      chmod 0770 /dev/cg2900_fm_audio
      chown gps system /dev/cg2900_gnss
      chmod 0770 /dev/cg2900_gnss
      chown system system /dev/cg2900_hci_logger
      chmod 0770 /dev/cg2900_hci_logger	  
	  chown system system /dev/cg2900_us_ctrl
      chmod 0770 /dev/cg2900_us_ctrl

# trigger governor change uevent
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

on post-fs-data
    # wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

# create data/gps for GPS demon
    mkdir /data/gps 770 gps system
    chown gps system /data/gps
    chown radio system /sys/class/power_supply/battery/gps

    # download cache
    mkdir /data/download 0770 system cache

    # logs
    mkdir /data/log 0775 root root
    chmod 0775 /data/log

    setprop vold.post_fs_data_done 1

# +STE UART Contol Application
service ste-cg29xx_ctrl /system/vendor/bin/ste-cg29xx_ctrl -b 115200 /dev/s3c2410_serial1
     class main
     user system
     group system misc 
     oneshot

# +STE GPS Daemon
#GPS_CHIPSET_STE_CG2900
service agpsd /system/vendor/bin/agpsd
     class core
     user gps
     group system inet
     oneshot

service aries-ril-daemon /system/bin/rild
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log

# 3D init
service pvrsrvinit /system/vendor/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
	-iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf -e/data/misc/wifi/entropy.bin
	#   we will start as root and wpa_supplicant will switch to user wifi
	#   after setting up the capabilities required for WEXT
	#   user wifi
	#   group wifi inet keystore
	class main
	socket wpa_wlan0 dgram 660 wifi wifi
	disabled
	oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    disabled
    oneshot

on property:ril.bt_macaddr=*
    start bdaddr

on property:init.svc.bootanim=running
    start aries-ril-daemon

# bugreport is triggered by holding down volume down, volume up and power
# service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
#     class main
#     disabled
#     oneshot
#     keycodes 114 115 116

service orientationd /system/vendor/bin/orientationd
    class late_start
    user compass
    group system input
    disabled

service geomagneticd /system/vendor/bin/geomagneticd
    class late_start
    user compass
    group system input

service tvout /system/bin/tvoutserver
    class main
    user system
    group graphics

service tvouthack /system/bin/tvouthack
    user system
    group graphics
    disabled
